@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<head>
    <link rel="stylesheet" href="~/css/imageSL.css">
    <link rel="stylesheet" href="~/css/inicio.css">
</head> 

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h1 class="display-4">Bienvenido a Mascot Cracks</h1>
    <head>
    <link rel="stylesheet" href="Style.css">
    <meta charset="UTF-8">

    <title>Document</title>
</head>


<body class ="Cinicio">
    <center>
        @* <img src="@Imagen1.jpeg" width="100" height="100" alt="No la pude encontrar"/> *@
    </center>

    <div><br>
        <center>
            <img src="Imagen1.jpeg" width="200" height="200" ><br><br><br><br><br><br><br>
            <img class ="logo" src="~/images/Imagen1.jpg"> <br><br>
            <button><a asp-page="/Formularios/FInscripcionPropietario">Suscripción</a></button>
        </center>

    </div>

    <div><br>
        <center>
            <img src="Imagen4.jpeg" aling="center"
            width="300" height="200" alt="" ali><br><br><br><br><br><br><br>
            <img class = "im4" src="~/images/Imagen4.jpg"  alt="image4"> <br><br>
            <button><a asp-page="/Formularios/FinscripcionPropietario">Atención de urgencia</a></button>
        </center>
    </div>

    <div><br>
        <center>
            <img src="/Images/Imagen3.jpeg" width="200" height="200"><br><br><br><br><br><br><br>
            <img class = "im3" src="~/images/Imagen3.jpg" width="200" height="200"><br><br>
            <button><a asp-page="/Formularios/FPedirVisitaModel">Solicitud Visita Domiciliaria</a></button>
        </center>
    </div>