@page
@model Mascoticas.App.Frontend.Pages.DetailsVisitasModel
@{
}
<h2>@Model.visitas.Fecha</h2>
<div>
    Id: @Model.visitas.Id
</div>


<a asp-page="./FLisVisitas" class="btn-default">Lista de Visitas </a>