@page
@model Mascoticas.App.Frontend.Pages.EditVisitasModel
@{
}
<h2>Edición de Visitas :@Model.Visitas.Fecha</h2>
<form method="post">
    <input type="hidden" asp-for="Visitas.Id"/>
    

    <button type="submit" class="btn btn-primary">Grabar</button>
</form>
<a asp-page="./FlisVisitas" class="btn-default">Lista de Visitas </a>
