@page
@model Mascoticas.App.Frontend.Pages.DetailsVisitasModel
@{
}
<h2>@Model.Visita.Fecha</h2>
<div>
    Id: @Model.Visita.Id
</div>

<a asp-page="./FLisVisitas" class="btn-default">Lista de Visitas </a>