@page
@model Mascoticas.App.Frontend.Pages.EditPropietariosModel
@{
int propietarioId=Model.Propietario.Id;
}


<h2>Edición de Propietarios</h2>
<form method="post">
    <input type="hidden" asp-for="Propietario.Id"/>
    <div class="form-group">
        <label asp-for="Propietarios.idPersona"></label>
        <input asp-for="Propietarios.idPersona" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.idPersona"></span>
    </div>
    <div class="form-group">
        <label asp-for="Propietarios.Nombres"></label>
        <input asp-for="Propietarios.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="Propietarios.Apellidos"></label>
        <input asp-for="Propietarios.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.Apellidos"></span>
    </div>

    <div class="form-group">
        <label asp-for="Propietarios.Celular"></label>
        <input asp-for="Propietarios.Celular" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.Celular"></span>
    </div>

<div class="form-group">
        <label asp-for="Propietarios.Email"></label>
        <input asp-for="Propietarios.Email" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.Email"></span>
    </div>

<div class="form-group">
        <label asp-for="Propietarios.Direccion"></label>
        <input asp-for="Propietarios.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Propietarios.Direccion"></span>
    </div>

    <button type="submit" class="btn btn-primary">Grabar</button>
</form>
<a asp-page="./FlisPropietarios" class="btn-default">Lista de Propietarios </a>