@page
@model Mascoticas.App.Frontend.Pages.EditPropietariosModel
@{
}
<h2>Edición de Propietarios :@Model.Propietario.Nombre</h2>
<form method="post">
    <input type="hidden" asp-for="Propietario.Id"/>
    <div class="form-group">
        <label asp-for="Propietario.Nombres"></label>
        <input asp-for="Propietario.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="Propietario.Apellidos"></label>
        <input asp-for="Propietario.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Apellidos"></span>
    </div>

    <div class="form-group">
        <label asp-for="Propietario.Celular"></label>
        <input asp-for="Propietario.Celular" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Celular"></span>
    </div>

<div class="form-group">
        <label asp-for="Propietario.Email"></label>
        <input asp-for="Propietario.Email" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Email"></span>
    </div>

<div class="form-group">
        <label asp-for="Propietario.Direccion"></label>
        <input asp-for="Propietario.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Direccion"></span>
    </div>

    <button type="submit" class="btn btn-primary">Grabar</button>
</form>
<a asp-page="./FlisPropietarios" class="btn-default">Lista de Propietarios </a>