@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <head>
    <link rel="stylesheet" href="Style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <img src="@Url.Content("Imagen1.jpeg")" width="100" height="100" alt="No la pude encontrar" >
    </center>

    <div><br>
        <center>
            <img src="Imagen1.jpeg" width="200" height="200" ><br><br><br><br><br><br><br>
            <button>Suscripción</button>
        </center>
        
    </div>

    <div><br>
        <center>
            <img src="Imagen4.jpeg" aling="center"
            width="300" height="200" alt="" ali><br><br><br><br><br><br><br>
            <button>Atención de urgencia</button>
        </center>
    </div>
    
    <div><br>
        <center>
            <img src="Imagen3.jpeg" width="200" height="200"><br><br><br><br><br><br><br>
            <button>Visita domiciliaria</button>
        </center>
    </div>
    
</body>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
