@page
@model Mascotas.app.frontend.Pages.FCostosModel
@{
    ViewData["Title"] = "Pagos - Mascot Cracks";
}
<head>
    <link rel="stylesheet" href="~/css/imageSL.css">
    <link rel="stylesheet" href="~/css/BodyStyle.css">
</head>   
<body class="fstyle">
    
    <div align="center"><h2>Formulario de Pagos</h2></div>
    
    <div align="center">
        <img class ="logo" src="~/images/Imagen1.jpg"> 
        <div align="center"></font></div>
    </div>
    
    <div align="center"><h2>PAGO DE SERVICIO MASCOTA FELIZ </h2></div>    

    <form action="/action page.php"> 
        
        <div align="center">       
            <h2>Datos del Cliente</h2>
            <h3>Ingrese los siguientes datos para hacer efectivo su pago:</h3>         
        </div>       

            <p>Tipo de Documento:<select name="Documento" id="documento"></p>
                <option value="1">Cedula de Ciudadania</option>
                <option value="2">Cedula de Extrangeria</option>
                <option value="3">Pasaporte</option>
                <option value="4">Registro Civil</option>                
                <option value="5">Targeta de Identidad</option>                
            </select><br><br>    
            
            <label for="name" >Numero de Documento:</label>
            <input class= texto style="width:600px;" type="text" id="documento"><br><br>

            <label for="name">Nombres:</label>
            <input class= texto style="width:600px;" type="text" id="nombre"><br><br>

            <label for="name">Apellidos:</label>
            <input class= texto style="width:600px;" type="text" id="apellido"><br><br>

            <label for="name">Direccion:</label>
            <input class= texto style="width:600px;" type="text" id="direccion"><br><br>

            <label for="name">Telefono Celular:</label>
            <input class= texto style="width:600px;" type="text" id="celu"><br>

            <div class="frm-row">
                <div class="section colm colm6">
                  <label for="guestemail" class="field-label">Email:</label>
                  <label for="guestemail" class="field prepend-icon">
                    <input style="width:600px;" type="email" name="guestemail" id="guestemail" class="gui-input" required="" placeholder="john@something.com">
                    <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                  </label>
                </div>
            </div><br>
        
    
        <h2>Metodos de pago</h2>
        <label><input type="radio"  name="radio" id="efecty" value="efecty"></label>
        <label for="efecty"> Efecty </label>
        <label><input type="radio" name="radio" id="Efectivo" value="Efectivo"></label>
        <label for="dinero"> Efectivo </label>
        <label><input type="radio" name="radio" id="PSE" value="PSE"></label>
        <label for="online">PSE</label><br><br>

        <p>Señor usuario, se enviara a su correo el extracto de su cuenta junto con las
            formas de pago que ha acordado, Gracias por elegirnos</p><br>

        <button><a asp-page="/Index">Volver</a></button><br><br><br>    

        <img src="ima/GOPRO305.jpg" width="200" height="300" alt="imgf">

    </form>
    </body>