@page
@model Mascotas.app.frontend.Pages.ListModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/imageSL.css">
    <link rel="stylesheet" href="~/css/BodyStyle.css">
</head>

<body class="fstyle">

<h1>Lista de Formularios</h1>
<table class="table">
    @foreach (var formularios in Model.ListaFormularios)
    {
        <tr>
            <td> @formularios </td>
        </tr>
        
    }
    
        
    </body>