@page
@model Mascotas.app.frontend.Pages.FileModel
@{
}
<h1>Lista de Formularios</h1>
<table class="table">
    @foreach (var formularios in Model.ListaFormularios)
    {
        <tr>
            <td> @formularios </td>
        </tr>
        
    }