@page
@model Mascotas.app.frontend.pages.FInscripcionMascotaModel
@{
    ViewData["Title"] = "Inscripción - Mascot Cracks";
}
<head>
    <link rel="stylesheet" href="~/css/imageSL.css">
    <link rel="stylesheet" href="~/css/BodyStyle.css">
</head>
 <style>
       
        h2{
            
            color: rgb(0, 46, 92);
            text-align: center;
            font-weight: 600;
            font-size: 40px;
        }
        h3{
            color: rgb(0, 46, 92);
        }
        .botones{
            height: 30px;
        }      
        .buttonc{
                
                width: calc(100% - 50px);
                height: 30px;
                font-size: 15px;
                font-weight: 600;
            }                
            .moverCuadro{
                float:right;
                height: 25px;
            }        
     </style>
<body class="fstyle">
    

     <div align="center">
        <img class ="logo" src="~/images/Imagen1.jpg"> 
        <div align="center"></font></div>
    </div>
    
    <form action="/action_page.php"></form>
        <div align = "center"><h3>INFORMACIÓN MASCOTA 1</h3></div>
            

            <label for="nameMascota">Nombre de la Mascota: </label>
            <input class= texto style="width:600px;" type="text" id="nombreMascota"><br>
            <label for="start">Fecha de Nacimiento:</label>
            @* quite la parte de mover cuadro *@
            <input type="date" name="fecha" min="2018-01-01" max="2022-12-31"/><br><br>
    
        <h3>TIPO DE MASCOTA</h3>
        <label for="name">Tipo de Mascota:</label>
            <label><input type="radio" name="radio" id="perro" value="Perro"></label>
            <label for="perro"> Perro </label>
            <label><input type="radio" name="radio" id="gato" value="Gato"></label>
            <label for="gato"> Gato </label>
            <label><input type="radio" name="radio" id="ave" value="Ave"></label>
            <label for="ave"> Ave </label>
            <label><input type="radio" name="radio" id="otro" value="Otro"></label><br>
            <label for="otro"> Otro </label>
            <label><p>cual?<input class= texto style="width:600px;" type="text" id="cual"><br></p></label><br>
        @* <input type="radio" name="tipoMascota" value="canino"> Canino<br>
                <input type="radio" name="tipoMascota" value="felino"> Felino<br>
                <input type="radio" name="tipoMascota" value="ave"> Ave <br>
                <input type="radio" name="tipoMascota" value="roedor"> Roedor <br>
                <input type="radio" name="tipoMascota" value="otro"> Otro <br>
            <label for="otraMascota">¿Cuál?</label>
            <input type="text" id="otraMascota"><br> *@
                

            <label for="familia">Raza/Familia: </label>
            <input class= texto style="width:600px;" type="text" id="familia"><br>
            
            @* <div><img class= dib2 src="img/mascotcracks.jpeg"> *@
            <button >Enviar formulario</button><br><br><br>
            <button>Resetear formulario</button><br><br>

           <form action="/action_page.php">
                <h3>INFORMACIÓN MASCOTA 2</h3>
                    <label for="nameMascota">Nombre de la Mascota: </label>
                    <input class = texto style="width:600px;" type="text" id="nombreMascota"><br>
                    <label for="start">Fecha de Nacimiento:</label>
                    <input type="date" name="fecha" min="2018-01-01" max="2022-12-31"/><br><br>
                    
                <h3>TIPO DE MASCOTA</h3>
                <label for="name">Tipo de Mascota:</label>
                <label><input type="radio" name="radio" id="perro" value="Perro"></label>
                <label for="perro"> Perro </label>
                <label><input type="radio" name="radio" id="gato" value="Gato"></label>
                <label for="gato"> Gato </label>
                <label><input type="radio" name="radio" id="ave" value="Ave"></label>
                <label for="ave"> Ave </label>
                <label><input type="radio" name="radio" id="otro" value="Otro"></label><br>
                <label for="otro"> Otro </label>
                <label><p>cual?<input class= texto style="width:600px;" type="text" id="cual"><br></p></label><br>
                    
                    @* <input type="radio" name="tipoMascota" value="canino"> Canino
                        <input type="radio" name="tipoMascota" value="felino"> Felino
                        <input type="radio" name="tipoMascota" value="ave"> Ave
                        <input type="radio" name="tipoMascota" value="roedor"> Roedor <br>
                        <input type="radio" name="tipoMascota" value="otro"> Otro <br>
                        <label for="otraMascota">¿Cuál?</label>
                        <input type="text" id="otraMascota"><br><br> *@                        

                        <label for="familia">Raza/Familia: </label>
                        <input style="width:600px;"class= texto type="text" id="familia"><br><br>                    
       
                    @* <div><img class= dib2 src="img/mascotcracks.jpeg" > *@
                    <button>Enviar formulario</button><br><br>
                    <button>Resetear formulario</button><br><br>
            </form>

            <form action="/action_page.php">
                <h3>INFORMACIÓN MASCOTA 3</h3>
                    <label for="nameMascota">Nombre de la Mascota: </label>
                    <input class= texto style="width:600px;" type="text" id="nombreMascota"><br><br>
                    <label for="start">Fecha de Nacimiento:</label>
                    <input type="date" name="fecha" min="2018-01-01" max="2022-12-31"/><br><br>
                    
                    <h3>TIPO DE MASCOTA</h3>
                    <label for="name">Tipo de Mascota:</label>
                    <label><input type="radio" name="radio" id="perro" value="Perro"></label>
                    <label for="perro"> Perro </label>
                    <label><input type="radio" name="radio" id="gato" value="Gato"></label>
                    <label for="gato"> Gato </label>
                    <label><input type="radio" name="radio" id="ave" value="Ave"></label>
                    <label for="ave"> Ave </label>
                    <label><input type="radio" name="radio" id="otro" value="Otro"></label><br>
                    <label for="otro"> Otro </label>
                    <label><p>cual?<input class= texto style="width:600px;" type="text" id="cual"><br></p></label><br>
                    @* <input type="radio" name="tipoMascota" value="canino"> Canino<br> 
                    <input type="radio" name="tipoMascota" value="felino"> Felino<br>
                    <input type="radio" name="tipoMascota" value="ave"> Ave <br>
                    <input type="radio" name="tipoMascota" value="roedor"> Roedor <br>
                    <input type="radio" name="tipoMascota" value="otro"> Otro <br>
                    <label for="otraMascota">¿Cuál?</label>
                    <input type="text" id="otraMascota"><br><br>*@

                    <label for="familia">Raza/Familia: </label>
                    <input class= texto style="width:600px;" type="text" id="familia"><br><br>               
                           
                    <button>Enviar formulario</button><br><br>
                    <button>Resetear formulario</button><br><br>

                    <button><a asp-page="/Index">Volver</a></button><br><br><br>

            </form>
        </body>