@page
@model Mascotas.app.frontend.Pages.FListMascotasModel
@{
}
<h2>
    LISTADO DE MASCOTAS
</h2>
<table class= "table">
                @foreach (var mascota in Model.Mascotas)
                {
                    <tr>
                        <td>@mascota.Nombre</td>
                        <td>@mascota.Tipo</td>
                        <td>@mascota.Raza</td>

                     <td>
                <a class="btn btn-primary table-btn" asp-page="./FInscripcion,mascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
                 </td>
   
                    </tr>
                
                    
                } 

            </table>