@page
@model Mascotas.app.frontend.pages.FPedirVisitaModelModel
@{
}
<title>Visita MASCOT-CRACKS</title>
    <div align="center">
        <h1>Solicitud de Visita MASCOT-CRACKS</h1>
    </div>
    <div align="center">
            <img src="Mascota_Feliz\Mascoticas.App\Mascotas.app.frontend\Images\Imagen1.jpeg" width="200" height="150"><div align="center"></div>
        </div>
    <div align="center">
        <h3>
            Ingrese los siguientes datos para agendar visita:
        </h3>
    </div>

    <form action="/action page.php">   
        
                  
            <h3>Datos del Solicitante de la Visita:</h3>
            <!-- id -->
            <p>Tipo de Documento:<select name="Documento" id="documento"></p>
                <option value="1">Cedula de Ciudadania</option>
                <option value="2">Cedula de Extrangeria</option>
                <option value="3">Pasaporte</option>
                <option value="4">Registro Civil</option>                
                <option value="5">Targeta de Identidad</option>                
            </select><br><br>

            <label for="name" >Numero de Documento:</label>
            <input class= texto style="width:700px;" type="text" id="documento"><br><br>

            <label for="name">Nombres:</label>
            <input class= texto style="width:700px;" type="text" id="nombre"><br><br>

            <label for="name">Apellidos:</label>
            <input class= texto style="width:700px;" type="text" id="apellido"><br><br>

            <label for="age">Edad:</label>
            <input class= texto style="width:700px;" type="number"><br><br>   
            
            <label for="name">Direccion:</label>
            <input class= texto style="width:700px;" type="text" id="direccion"><br><br>

            <label for="name">Telefono Celular:</label>
            <input class= texto style="width:700px;" type="text" id="celu"><br>

            <div class="frm-row">
                <div class="section colm colm6">
                  <label for="guestemail" class="field-label">Email:</label>
                  <label for="guestemail" class="field prepend-icon">
                    <input style="width:710px;" type="email" name="guestemail" id="guestemail" class="gui-input" required="" placeholder="john@something.com">
                    <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                  </label>
                </div>
            </div><br>

            <label for="name">Nombre de la Mascota:</label>
            <input class= texto style="width:600px;" type="text" id="nombreMascota"><br><br>
            
            <label for="name">Tipo de Mascota:</label>
            <label><input type="radio" name="radio" id="perro" value="Perro"></label>
            <label for="perro"> Perro </label>
            <label><input type="radio" name="radio" id="gato" value="Gato"></label>
            <label for="gato"> Gato </label>
            <label><input type="radio" name="radio" id="ave" value="Ave"></label>
            <label for="ave"> Ave </label>
            <label><input type="radio" name="radio" id="otro" value="Otro"></label><br>
            <label for="otro"> Otro </label>
            <label><p>cual?<input class= texto style="width:600px;" type="text" id="cual"><br></p></label><br> 

            <label for="name">Raza de la Mascota:</label>
            <input class= texto style="width:600px;" type="text" id="razaMascota"><br><br>

            <label for="name">Escoja fecha para la visita:</label><br>
            <form name="formulario" method="post" action="/send.php">
                <!-- Campo de entrada de fecha -->
                Seleccione la fecha deseada:
                <input type="date" name="fecha" min="2018-01-01" max="2022-12-31" />
                <!-- Campo de entrada de hora -->
                Seleccione la hora deseada:
                <input type="time" name="hora" min="18:00" max="21:00" step="3600" /><br>
            </form><br>
              <button>Enviar formulario</button><br>
       
                
        <p>Señor usuario, se enviara a su correo la fecha de la visita que solicitó, 
            le recomendamos estar en la fecha estipulada</p><br>      

        <button><a asp-page="/Index">Volver</a></button><br><br><br>

    </form>

