@page
@model Mascotas.app.frontend.pages.FVisitaVeterinarioModelModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/imageSL.css">
    <link rel="stylesheet" href="~/css/BodyStyle.css">
</head> 

<body class="fstyle">

        <div align="center"></div>
        <img class ="logo" src="~/images/Imagen1.jpg"> 
        </div>

        <div>
        <font size="10">VISITA DOMICILIARIA</font>
        </div>
    

    
    <form action="/action page.php" autocomplete="on"> 
        <!-- fecha -->        
        <label for="start">Fecha visita domiciliaria:</label><br>                
        <input style="width:712px;" type="date" name="fecha" min="2018-01-01" max="2022-12-31"/><br>
        <!-- numero de visita -->
        <label for="name">Visita N°:</label><br>
        <input style="width:712px;" type="number"><br>
    <!--  selecciona si se efectuo o no la visita con los diferentes radiobuttons -->
        <h3>Visita:</h3>
            <label><input type="radio"  name="radio" id="Atendida" value="Atendida"></label>
            <label for="atendida"> Atendida </label>
            <label><input type="radio" name="radio" id="Solicitante ausente" value="Solicitante ausente"></label>
            <label for="Solicitante"> Solicitante ausente </label>
            <label><input type="radio" name="radio" id="No abrieron" value="No abrieron"></label>
            <label for="no_abrieron">No abrieron</label>
            <label><input type="radio" name="radio" id="No habitan la vivienda" value="No habitan la vivienda"></label>
            <label for="no_habita"> No habitan la vivienda </label>
            <label><input type="radio" name="radio" id="La dirección no corresponde" value="La dirección no corresponde"></label>
            <label for="direccion"> La dirección no corresponde </label>
            <label><input type="radio" name="radio" id="Visita rechazada" value="Visita rechazada"></label>
            <label for="rechazada"> Visita rechazada </label>
        <br>
        <!-- caja de texto para colocar el motivo por el cual se realiza la visita -->
        
            <h3>Motivo de la visita</h3>
            <textarea cols="96" rows="7">            
            </textarea><br>
            <button>Enviar Motivo</button><br><br><br>
        
        
        <!-- datos de la persona que solicita la visita -->
        
            <h3>Datos del Solicitante de la Visita:</h3>                  

            <label for="name">Propietario:</label>
            <input class= texto style="width:710px;" type="text" id="nombre"><br><br>
            
            <label for="name">Direccion:</label>
            <input class= texto style="width:710px;" type="text" id="direccion"><br><br>

            <label for="name">Telefono Celular:</label>
            <input class= texto style="width:710px;" type="text" id="celu"><br><br>
           
            <label for="name">Nombre de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="nombreMascota"><br><br>
            
            <label for="name">Tipo de Mascota:</label>
            <label><input type="radio" name="radio" id="perro" value="Perro"></label>
            <label for="perro"> Perro </label>
            <label><input type="radio" name="radio" id="gato" value="Gato"></label>
            <label for="gato"> Gato </label>
            <label><input type="radio" name="radio" id="ave" value="Ave"></label>
            <label for="ave"> Ave </label>
            <label><input type="radio" name="radio" id="otro" value="Otro"></label>
            <label for="otro"> Otro </label>
            <label><p>cual?<input class= texto style="width:710px;" type="text" id="cual"><br></p> </label> 

            <label for="name">Raza de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="razaMascota"><br><br>

            <label for="name">Peso de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="pesoMascota"><br><br>

            <label for="name">Temperatura de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="temperaturaMascota"><br><br>

            <label for="name">Frecuencia Cardiaca de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="cardioMascota"><br><br>

            <label for="name">Frecuencia Respiratoria de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="respiracionMascota"><br><br>

            <label for="name">Estado Animico de la Mascota:</label>
            <input class= texto style="width:710px;" type="text" id="animoMascota"><br><br>

            <button>Enviar formulario</button><br><br><br>       
        
       
            <h3>Observaciones y Recomendaciones</h3>
            <textarea cols="96" rows="7">            
            </textarea><br>
            <button>Enviar</button><br><br>   

        <button><a asp-page="/Index">Volver</a></button><br><br><br>

    </form>

    
</body>    